{% extends 'base.html.twig' %}

{% block title %}Hello AjoutFigureController!{% endblock %}

{% block content %}
    <h1>Ajout d'une figure</h1>

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}



{% endblock %}