{% extends 'base.html.twig' %}
{% block flash %}

{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 card-list">
        {% for trick in figure %}
            <a href="/details-figure/{{ trick.id }}">
        <div class="col">
            <div class="card shadow-sm">

                <div class="card-body">
                    <p class="card-text">{{ trick.groupe }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </a>
        {% endfor %}
    </div>
    </main>
{% endblock %}