{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Incription{% endblock %}

{% block content %}
    <h1 class="text-center mt-5 mb-5">Inscription</h1>


        <div class="alert alert-info">

        </div>
        <hr>

    {{ form(form) }}


{% endblock %}
